<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>361784434102-kgd68f108q547o6blj049orjup3gfr8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361784434102-kgd68f108q547o6blj049orjup3gfr8k</string>
	<key>API_KEY</key>
	<string>AIzaSyAgTLRYYgj3h0icEVEErdgttiqLoJRLSaY</string>
	<key>GCM_SENDER_ID</key>
	<string>361784434102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SeunghoYang.htchhkr</string>
	<key>PROJECT_ID</key>
	<string>htchhkr-a065f</string>
	<key>STORAGE_BUCKET</key>
	<string>htchhkr-a065f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361784434102:ios:87715d2d90bcae51</string>
	<key>DATABASE_URL</key>
	<string>https://htchhkr-a065f.firebaseio.com</string>
</dict>
</plist>